---
---
@charset "utf-8";

$c-cloud:  #ecf0f1;
$c-midnightblue: #2c3e50;
$c-nephritis: #27ae60;
$c-title: white;
$c-code: #4aa3df;
$c-me: #2ecc71;
$c-blog: #e74c3c;
$c-stuff: #9b59b6;
$c-text: white;

$font-base: "quicksand","arial","sans-serif";

@import
    "layout",
    "base",
    "pagecolors"
;