h1
{
    color: $c-title;
}

.card
{
    margin: auto;
    max-width: 900px;
    background: $c-cloud;
    padding: 50px;
    border-radius: 3px; 
    border-bottom: 1px solid rgba(0,0,0,0.35);
    border-top: 1px solid white;
    color: black;
    margin-top: 20px;
    
    h1
    {
        margin-top: 0px;
        color: black;
    }
    
    :first-child
    {
        margin-top: 0px;
    }
    
    hr
    {
        height: 0px;
        border: 0;
        border-top: 1px dashed rgba(0,0,0,0.15);
        border-bottom: 1px dashed rgba(255,255,255,1);
    }
    hr:last-child
    {
        display: none;
        border: 1px solid red;
    }
}

#wrapper ::selection
{
    background: rgba(0,0,0,0.2);
}