html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: $font-base;
    color: $c-text;
}

#wrapper
{
    min-height: 100%;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#nav
{
    position: relative;
    margin: auto;
    max-width: 100%;
    width: 1000px;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden; 
    box-sizing: border-box;
    
    div
    {
        background: $c-cloud;
        max-width: 1000px;
        height: 50px;
        display: flex;
        justify-content:center;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0,0,0,0.35);
        border-top: 1px solid white;
        border-radius: 3px;
        box-sizing: border-box;
    }
    
    a
    {
        font-weight: bold;
        font-size: 1.5em;
        position: relative;
        height: 50px;
        width: 160px;
        text-align: center;
        color: #888;
        cursor: pointer;
        text-decoration: none;
        line-height: 50px;
        
        &:before
        {
            position: absolute;
            content: "";
            width: 0%;
            left: 50%;
            top: 50%;
            height: 0%;
            display: block;
            border-radius: 50%;
            background: rgba(0,0,0,0.05);
            transition:  opacity 0.3s, width 0.3s step-end, height 0.3s step-end;
            transform: translate(-50%,-50%);
            opacity: 0;
            z-index: 2;
            pointer-events: none;
        }
        
        &:after
        {
            position: absolute;
            content: attr(name);
            z-index: 3;
            text-align: center;
            width: 100%;
            lefT: 0;
            opacity: 0;
            color: white;
            transition:  opacity 0.3s;
        }
        
        &:hover:before
        {
            opacity: 1;
            width: 170px;
            height: 170px;
            transition: all 0.2s;
        }
        
        &:hover:after
        {
            opacity: 1;
        }
    }
    
    a[name="Me"]:before
    {
        background: $c-me;
    }
    
    a[name="Code"]:before
    {
        background: $c-code;
    }
    
    a[name="Stuff"]:before
    {
        background: $c-stuff;
    }
    
    a[name="Blog"]:before
    {
        background: $c-blog;
    }
        
}